.searchContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  max-width: 600px;
}

.imageGrid {
  column-count: 2;
  column-gap: 20px;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.image {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 20px;
}

.large {
  width: 100%;
  transform: scale(1.1);
}
