.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  margin-top: 20px !important;
}

.post {
  width: 90%;
  max-width: 600px;
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fff;
}

.post__header, .post__actions, .post__caption {
  padding: 10px;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: start;
}

.post__avatar {
  border-radius: 50%;
  width: 100%;
  max-width: 40px;
  height: auto;
}
.post__image video {
  width: 100%;
  height: auto;
}

.post__userinfo {
  margin-left: 15px;
}

.post__username {
  font-weight: bold;
  font-size: 14px;
}

.post__active {
  font-size: 12px;
  color: gray;
}

.post__image img {
  width: 100%;
  height: auto;
}

.post__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.post__icon {
  font-size: 20px;
  color: #262626;
}

.post__caption {
  font-size: 14px;
}

@media (min-width: 600px) {
  .post__header, .post__actions, .post__caption {
    padding: 15px;
  }

  .post__avatar {
    width: 100%;
    max-width: 50px;
  }

  .post__username {
    font-size: 16px;
  }

  .post__active {
    font-size: 14px;
  }

  .post__icon {
    font-size: 24px;
  }

  .post__caption {
    font-size: 16px;
  }
}
